@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700&display=swap');
:root {
  --my-main-font: "Source Code Pro", "Anonymous Pro", "Oxygen Mono";
  --my-button-fade-time: 1s;
  /* green */
  --my-green-color: #32CD32;
  --my-dark-accent-color: darkgreen;
  --my-link-visited-color: #2E8B57;
  --my-link-hover-color: #00ff00;
  /* amber */
  /* --my-green-color: #FFB000; */
  /* --my-dark-accent-color: rgb(207, 143, 3); */
  /* --my-link-visited-color: rgb(167, 124, 8); */
  /* --my-link-hover-color: #FFCC00; */
}

body {
  font-variant-ligatures: none;
}

body.home {
  background-color: rgb(0, 0, 0);
}

a:link {
  color: var(--my-green-color);
}

a:visited {
  color: var(--my-link-visited-color);
}

a:hover {
  color: var(--my-link-hover-color);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin-left: 1vw;
  margin-right: 1vw;
  line-height: 100%;
  border-width: 5px;
  border-color: var(--my-green-color);
  border-style: solid;
  font-size: 3vw;
  height: 110px;
  font-family: var(--my-main-font), monospace;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: var(--my-green-color);
  transition: opacity var(--my-button-fade-time) linear, transform 0.1s linear;
  opacity: 0;
  width: 22vw;
  display: inline-table;
}

.buttonActive {
  background-color: var(--my-green-color) !important;
  color: white;
}

.button:hover {
  transform: scale(0.95);
  color: white;
  background-color: var(--my-green-color);
}

#cursor {
  transition: opacity 0.25s ease-in-out;
  opacity: 1;
}

.mainHeader {
  font-size: 3.5vw;
  font-family: var(--my-main-font), monospace;
  color: var(--my-green-color);
}

.projectPage {
  margin-left: 18%;
  margin-right: 18%;
}

.progPageDescription {
  font-size: 1em;
  color: white;
  font-family: var(--my-main-font), monospace;
  transition: opacity var(--my-button-fade-time) linear;
  opacity: 0;
  text-align: justify;
}

#vim {
  font-family: var(--my-main-font), monospace;
  font-size: 1.2vw;
  color: var(--my-green-color);
  position: fixed;
  left: 1px;
  bottom: 1px;
  top: auto;
}
