#mainTitle {
  color: white;
  background-color: var(--my-green-color);
  font-family: var(--my-main-font), monospace;
  font-size: 8vw;
  text-align: center;
}

#welcome {
  color: var(--my-green-color);
  font-family: var(--my-main-font), monospace;
  font-size: 4vw;
  /* transition: opacity var(--my-button-fade-time) linear; */
  text-align: center;
  /* opacity: 0; */
}

.medialinks {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.medialink {
  /* transition: opacity var(--my-button-fade-time) linear, transform 0.1s linear; */
  /* transition: transform 0.1s linear; */
  margin: 25px;
  /* opacity: 0; */
}

.medialink:hover {
  transform: scale(0.84);
}
