.contactList {
  font-size: 1.2em;
  color: var(--projectContainer-color);
  font-family: var(--my-main-font), monospace;
}

.list {
  font-size: 1.15em;
  color: var(--projectContainer-color);
  font-family: var(--my-main-font), monospace;
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
  height: auto;
}

td, tr {
  border-style: solid;
  border-color: var(--my-dark-accent-color);
}

td {
  width: 50%;
}

.projectContainer {
  color: var(--projectContainer-color);
}

.experienceRole {
  font-size: 1.15em;
  font-weight: 700;
  text-decoration: underline;
}

a.headerLink {
  text-decoration: none;
  color: var(--my-green-color);
}

#footer {
  font-size: 0.95em;
}
