.contactList {
  font-size: 1.3em;
  color: white;
  font-family: var(--my-main-font), monospace;
}

a:link {
  color: var(--my-green-color);
}

a:visited {
  color: #2E8B57;
}

a:hover {
  color: #00ff00;
}

.list {
  font-size: 1.1em;
  color: white;
  font-family: var(--my-main-font), monospace;
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
  height: auto;
}

td, tr {
  border-style: solid;
  border-color: darkgreen;
}

td {
  width: 50%;
}

#content {
  transition: opacity var(--my-button-fade-time) linear;
  opacity: 0;
}
