.contactList {
  font-size: 1.3em;
  color: white;
  font-family: var(--my-main-font), monospace;
}

.list {
  font-size: 1.1em;
  color: white;
  font-family: var(--my-main-font), monospace;
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
  height: auto;
}

td, tr {
  border-style: solid;
  border-color: var(--my-dark-accent-color);
}

td {
  width: 50%;
}

.projectName {
  font-size: 1.6em;
  font-family: var(--my-main-font), monospace;
  text-align: justify;
  color: var(--my-green-color);
}

.projectDescription {
  font-size: 1em;
  font-family: var(--my-main-font), monospace;
  text-align: justify;
}

.projectContainer {
  color: white;
  /* transition: opacity var(--my-button-fade-time) linear; */
  /* opacity: 0; */
}

.experienceRole {
  font-size: 1.1em;
  font-weight: 700;
  text-decoration: underline;
}

a.headerLink {
  text-decoration: none;
  color: var(--my-green-color);
}
