.projectName {
  font-size: 1.6em;
  font-family: var(--my-main-font), monospace;
  text-align: justify;
  color: var(--my-green-color);
}

.projectDescription {
  font-size: 1.15em;
  font-family: var(--my-main-font), monospace;
  text-align: justify;
}

.projectContainer {
  color: var(--projectContainer-color);
}

h5 {
  font-family: var(--my-main-font), monospace;
  font-weight: 700;
  font-size: 1.2em;
  font-style: italic;
}
