.projectName {
  font-size: 1.6em;
  font-family: var(--my-main-font), monospace;
  text-align: justify;
  color: var(--my-green-color);
}

.projectDescription {
  color: white;
  font-size: 1.1em;
  font-family: var(--my-main-font), monospace;
  text-align: justify;
}

/* .projectContainer { */

/* transition: opacity var(--my-button-fade-time) linear; */

/* opacity: 0; */

/* } */
