.bg {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.63em;
  background-color: rgb(240, 240, 240, 0);
  color: var(--bg-text-color);
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  word-wrap: break-word;
  user-select: none;
  overflow: hidden;
  translate: translate(0, -50%);
}
