

.mode-toggle {
    position: absolute;
    top: 10px;
    right: 0px;
    width: auto;
    height: clamp(25px, 3vh, 5vh);
    /* background-color: var(--page-background-color); */
    z-index: 100;
}

[data-mode="light"] {
    display: var(--light-display);
}

[data-mode="dark"] {
    display: var(--dark-display);
}

@media (prefers-color-scheme: dark) {
    div[data-mode="dark"] {
        display: var(--dark-display);
    }

    [data-mode="light"] {
        display: var(--light-display);

    }
}
