body {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  height: 100vh;
  overflow: hidden;
  background-color: #ccc;
}

h1 {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 13vmin;
  font-weight: 300;
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  color: #226;
  transition: opacity 1150ms ease-in-out;
  opacity: 0;
}

p {
  font-weight: 400;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 6vmin;
  font-style: italic;
  grid-row: 2;
  grid-column: 1;
  text-align: center;
  color: #226;
  transition: opacity 1150ms ease-in-out;
  opacity: 0;
}
