@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
  --page-background-color: #f4f4f4;
  --project-background-color: white;
  --body-text-color: black;
  --project-border: 2px solid black;
  --project-border-radius: 15px;
  --project-box-shadow: 8px 8px lightgray;
  --image-stroke-color: rgb(51, 51, 51);
  --image-fill-color: rgb(51, 51, 51);
  --anim-transition: transform 0.15s ease-in-out;
  --anim-transform: scale(1.07);
  --bg-text-color: #dedede;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --anim-transition: none;
    --anim-transform: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --project-background-color: rgb(45, 45, 45);
    --page-background-color: rgb(55, 55, 55);
    --body-text-color: white;
    --project-border: 2px solid white;
    --project-box-shadow: 8px 8px rgb(30, 30, 30);
    --image-stroke-color: rgb(240, 240, 240);
    --image-fill-color: rgb(240, 240, 240);
    --bg-text-color: rgb(75, 75, 75);
  }
}

body {
  background-color: var(--page-background-color);
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: var(--body-text-color);
  padding-bottom: 6vh;
  margin: 5vmin;
  font-size: 2vmin;
}

.topper {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  column-gap: 1em;
}

.topper>a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  height: 100%;
}

.top-content {
  background-color: var(--project-background-color);
  border: var(--project-border);
  border-radius: var(--project-border-radius);
  box-shadow: var(--project-box-shadow);
  padding: 1em;
}

.logo {
  margin-left: 1vw;
  margin-right: 1vw;
  transition: var(--anim-transition);
}

.logo:hover {
  transform: var(--anim-transform);
}

svg.logo {
  width: 10vw;
  height: 10vh;
}

.logog {
  fill: var(--image-fill-color);
  /* stroke: var(--image-stroke-color); */
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

@media(max-width: 1000px) {
  body {
    font-size: 2vmax;
  }

  .logo {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .content {
    display: grid;
    grid-template-columns: minmax(300px, 1fr);
  }

}

@media (max-width:1100px) {
  .topper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content;
    row-gap: 1em;

  }

  .top-content {
    grid-column: 1/3;
    column-span: 2;
    grid-row: 1;
  }

  #top-left {
    grid-row: 2;
  }

  #top-right {
    grid-row: 2;
  }
}

.bg {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.5em;
  background-color: rgb(240, 240, 240, 0);
  color: var(--bg-text-color);
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  word-wrap: break-word;
  user-select: none;
  overflow: hidden;
}

.subtitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
  color: gray;
}

.blerb {
  font-size: 1.2em;
  margin-bottom: 2vh;
}

h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 3.5em;
  margin-bottom: 0;
  margin-top: 0;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-evenly;
  justify-content: space-evenly;
  /* margin: 0.75vmax; */
  margin: 14px;
  border: var(--project-border);
  box-shadow: var(--project-box-shadow);
  border-radius: var(--project-border-radius);
  background-color: var(--project-background-color);
  transition: var(--anim-transition);
  padding: 0.7em;
}

.project:hover {
  transform: var(--anim-transform);
}

img {
  width: 100%;
  max-width: 10vw;
  height: auto;
}

.section-heading {
  margin-top: 5vh;
}

a:link {
  color: var(--body-text-color);
  text-decoration: none;
}

a:visited {
  color: var(--body-text-color);
  text-decoration: none;
}
