body {
    color: #1a8915;
    margin: 1% 15% 1% 15%;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

input, option, select {
    color: #1a8915;
}

a {
    color: #19e416;
}

a:visited {
    color: #45e448;
}

.small {
    font-size: 75%;
}

.minion-stat {
    font-family: 'Roboto Mono', 'Menlo', 'Monaco', 'Consolas', 'Source Code Pro', 'Courier New', Courier, monospace;
    color: #03dd00;
    font-size: 90%;
}

.minion-stat-cell {
    font-family: 'Roboto Mono', 'Menlo', 'Monaco', 'Consolas', 'Source Code Pro', 'Courier New', Courier, monospace;
    color: #03dd00;
    font-size: 90%;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: none !important;
    padding-right: 1%;
}

.minion-stat-cell-coins {
    padding-right: 1%;
    font-family: 'Roboto Mono', 'Menlo', 'Monaco', 'Consolas', 'Source Code Pro', 'Courier New', Courier, monospace;
    color: #03dd00;
    font-size: 90%;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: none !important;
    text-align: right;
}

.minion-cell {
    padding-right: 1%;
    padding: 10px;
    text-align: right;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: none !important;
}

td {
    border: 1px solid black;
    width: 16%;
}

.note {
    font-size: 0.85em;
}

.status {
    font-family: 'Roboto Mono', 'Menlo', 'Monaco', 'Consolas', 'Source Code Pro', 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 80%;
}