#mainTitle {
  color: white;
  background-color: var(--my-green-color);
  font-family: var(--my-main-font), monospace;
  font-size: 8vw;
  text-align: center;
  line-height: normal !important;
}

#welcome {
  color: var(--my-green-color);
  font-family: var(--my-main-font), monospace;
  line-height: normal !important;
  font-size: 2.5vw;
  text-align: center;
}

.medialinks {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.medialink {
  transition: opacity var(--my-button-fade-time) linear, transform 75ms linear !important;
  margin: 2vh 2vw;
  transform: scale(calc(1vh));
  /* opacity: 0; */
}

.medialink:hover {
  transform: scale(0.88);
}
/*
.spacing {
  height: 10vh;
} */

.first-spacing {
  height: 10vh;
}

.top-spacing {
  height: 8vh;
}

.bottom-spacing {
  height: 12vh
}
