:root {
  --my-font-family: "Verdana", "FreeSans", "Helvetica Neue", "Neue Haas Grotesk Display Pro", "Helvetica Now", "Roboto", "Arial", sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    --my-font-fg: black;
    content: "dark";
  }
}

@media (prefers-color-scheme: light) {

  html {
    --my-font-fg: white;
    content: "light";
  }
}

body {
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 2%);
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: 1fr 5fr 1fr; */
}

a:link {
  text-decoration: none;
  color: inherit;
}

.gitlink {
  font-family: var(--my-font-family);
  font-size: 0.85em;
  color: var(--my-font-fg);
  right: 2px;
  top: 2px;
  padding: 2px;
  text-align: right;
  position: fixed;
  background-color: white;
  border: 2px solid black;
  opacity: 0.3;
  transition: opacity 0.1s ease-in-out;
}

.gitlink:hover {
  opacity: 1;
}

.main {
  font-size: calc(20vh - 10px);
  font-family: var(--my-font-family);
  font-weight: 700;
  text-align: center;
}

a.main {
  justify-self: flex-end;
  align-self: stretch;
  height: 20%;
}

.linkbtn {

  text-align: center;
  font-size: 6vh;
  transition: transform 0.15s ease-in-out;
  border-radius: 10px;
}

.linkbtn:hover {
  transform: scale(0.95);
}

.bounced {
  transition: transform 0.07s ease-in-out;
}

.forkme {
  color: transparent;
  right: 0px;
  top: 0px;
  position: fixed;
  opacity: 0.2;
  transition: opacity 0.1s ease-in-out;
}

#modifierTable {
  table-layout: fixed;
  column-width: 22%;
  width: 100%;
  font-family: var(--my-font-family);
  font-size: 8vh;
}

.forkme:hover {
  opacity: 1.0;
}

#key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  align-self: center;
}
